{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title class='mx-auto'>家計簿アプリ</title>
  <link rel="stylesheet" href="{% static 'kakeibo/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'kakeibo/css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block extrajs %}

  {% endblock %}
</head>

<body>
  <header class="page-header">
    <h1>
      <a href="{% url 'kakeibo:payment_list' %}" class="header-title mx-auto">家計簿管理</a>
    </h1>
    <nav class="nav mx-auto">
      <ul class="main-nav ml-5">
        <li class="ml-5">
          <a href="{% url 'kakeibo:payment_list'%}">支出一覧</a>
        </li>
        <li class="ml-5">
          <a href="{% url 'kakeibo:income_list'%}">収入一覧</a>
        </li>
        <li class="ml-5">
            <a href="{% url 'kakeibo:payment_create'%}">支出登録</a>
        </li>
        <li class="ml-5">
            <a href="{% url 'kakeibo:income_create'%}">収入登録</a>
        </li>
        <li class="ml-5">
          <a href="{% url 'kakeibo:month_dashboard' now_year now_month%}">月間支出</a>
        </li>
        {% comment %} <li class="ml-5">
          <p><a href="{% url 'kakeibo:signup' %}">ユーザ作成</a></p>   
        </li< {% endcomment %}
    </nav>
  </header>

  <div class="layout">
    <div class="container">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

</body>

</html>