{% extends 'kakeibo/base.html' %}
{% block title %}ユーザー登録{% endblock %}

{% block content %}
<div class="">
    <div class="">
        <br>
        <h1>ユーザ登録</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="mt-4">
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
                <br>
            </div>
            {% endfor %}
            <button type="submit">登録</button>
        </form>
    </div>
</div>
{% endblock %}
